# Client-side variables must be prefixed with NEXT_PUBLIC_.
# NEXT_PUBLIC_API_BASE_URL=

CMP_BASE_URL=http://localhost:3001
CMP_API_KEY=pk_lxgZhBOxfGDcDPXvvDABTYk0y2olf9neOmMqa1mtME
CMP_BUSINESS_PROCESS_CODE=GjY5YUOsqW
CMP_BUSINESS_PROCESS_VERSION=1